{% set PROJECT = env["project"] %}
{% set DEPLOYMENT = env["deployment"] %}

resources:
- name: {{ DEPLOYMENT }}-instnce
  type: compute.v1.instance
  properties:
    zone: us-central1-a
    kind: compute#instance
    machineType: projects/{{ PROJECT }}/zones/us-central1-a/machineTypes/f1-micro
    metadata:
      kind: compute#metadata
      items: []
    tags:
      items: []
    disks:
    - kind: compute#attachedDisk
      type: PERSISTENT
      boot: true
      mode: READ_WRITE
      autoDelete: true
      deviceName: {{ DEPLOYMENT }}-boot-disk
      initializeParams:
        sourceImage: {{ properties["sourceImage"] }}
        diskType: projects/{{ PROJECT }}/zones/us-central1-a/diskTypes/pd-standard
        diskSizeGb: '30'
    canIpForward: false
    networkInterfaces:
    - kind: compute#networkInterface
      subnetwork: projects/{{ PROJECT }}/regions/us-central1/subnetworks/default
      accessConfigs:
      - kind: compute#accessConfig
        name: External NAT
        type: ONE_TO_ONE_NAT
        networkTier: PREMIUM
      aliasIpRanges: []
    description: ''
    labels: {}
    scheduling:
      preemptible: false
      onHostMaintenance: MIGRATE
      automaticRestart: true
    deletionProtection: false
    serviceAccounts:
    - email: {{ env["project_number"] }}-compute@developer.gserviceaccount.com
      scopes:
      - https://www.googleapis.com/auth/cloud-platform
